[user]
	name = basokant
	email = basokanthan@gmail.com

[init]
	defaultBranch = main

[color]
	ui = true

[push]
	autoSetupRemote = true

[core]
  editor = "nvim"
	pager = delta

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true
    dark = true      # or light = true, or omit for auto-detection

[merge]
	conflictStyle = zdiff3
